<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Recommendation System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Book Recommendation System</h1>
      <form action="{{ url_for('search') }}" method="get">
        <input type="text" name="q" placeholder="Search for books..." />
        <button type="submit">Search</button>
      </form>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
